.page-header {
    background-color: #12139B;
    margin-top: -10px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 24pt;
    font-family: 'Ubuntu';
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Noto Sans';
}

h2 {
    font-size: 20pt;
}

.date {
    color: #828282;
}

.date p {
    font-family: 'Roboto';
    font-size: 11pt;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    font-family: 'Noto Sans KR';
    float: right;
    font-size: 14pt;
    margin-right: 20px;
    margin-top: 23px;
}

.top-menu-icon, .top-menu-icon:hover, .top-menu-icon:visited {
    color: #ffffff;
    float: right;
    font-size: 24pt;
    margin-right: 20px;
    margin-left: 0px;
    margin-top: 18px;
}

.post {
    margin-bottom: 15px;
    border: 1px solid #858585;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

p {
    font-family: 'Roboto';
    font-size: 13pt;
}

.logout, .logout:visited, .logout:hover{
    color: #cce2f3be;
    font-family: 'Noto Sans KR';
    font-size: 12pt;
    text-decoration: none;
}

.signup, .signup:visited, .signup:hover{
    color: #ffffff;
    font-family: 'Noto Sans KR';
    font-size: 14pt;
    text-decoration: none;
}

.login-form {
    margin-top: 20px;
    margin-left: 5px;
    font-family: 'Noto Sans';
}

td {
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.signup-form {
    margin-top: 20px;
    margin-left: 5px;
}

.signup-text {
    font-size: 12pt;
    font-family: 'Noto Sans';
}

.help-text {
    font-family: 'Noto Sans';
    font-size: 11pt;
    color: rgb(54, 136, 168);
}

.signup-error {
    font-family: 'Noto Sans';
    font-size: 11pt;
    color: #d10f0f;
}